#!/bin/bash

export OTEL_SERVICE_NAME=kafka-producer
export OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=
export OTEL_METRICS_EXPORTER=none
export OTEL_LOGS_EXPORTER=none
export OTEL_EXPORTER_OTLP_HEADERS=
export OTEL_EXPORTER_OTLP_TRACES_HEADERS=

cd ../kafka-producer
helidon dev \
    --app-jvm-args "-javaagent:../lib/opentelemetry-javaagent.jar"
